<%= form_for(@simulation) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :input, placeholder: "New Simulation..." %>
    <%= f.text_area :output, placeholder: "...Simulation output" %>
  </div>
    <%= f.submit "Run", class: "btn btn-large btn-primary" %>
    <%= submit_tag "Reset", class: "btn btn-large btn-primary", type: "reset" %>
    <%= f.submit "Save", class: "btn btn-large btn-primary" %> 
<% end %>
